.root {
    padding: 5px 10px;
    cursor: pointer;
}

.light {
    background-color: orange;
}

.dark {
    background-color: darkseagreen;
}

.active {
    background-color: darkturquoise;
}

.disabled {
    cursor: auto;
    background-color: blanchedalmond;
}

.sm {
    padding: 0 5px;
}