.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal {
    top: 50vh;
    left: 50vw;
    padding: 30px;
    transform: translate(-50%, -50%);
    z-index: 2;
    position: absolute;
    background-color: white;
}